<div class="answer_tile">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{answer.title}}
    </div>
    <div class="panel-body">
      {{answer.body}}
    </div>
    <div class="panel-footer">
      Posted by: {{answer.author}}
    </div>
  </div>
</div>
